# 项目介绍

这是一个文章发表论坛

任何部分的代码，用户没有明显说明时，不允许添加测试组件，不允许使用mock数据，不允许写使用文档。

# 前端逻辑

bun管理器，firebase认证系统，untitledUI+tremor组件库，react router dom导航，tailwindcss

hooks/ 是hooks和providers

components/ 是所有无状态组件，状态由外部传入

pages/ 是所有页面组件，管理状态

lib/ 是所有工具函数

所有的组件错误处理直接throw，因为有外部的error boundary处理

所有的组件loading过程考虑使用骨架屏，使用useLoading返回值进行处理

# 后端逻辑

在db.s文件里写数据库交互，在handler.ts里写请求处理, types.ts里写数据库类型

## db.ts

所有在worker/db.ts里的函数，传参时使用展开传参，而不是把参数包括在一个对象里。
其内部每一个函数的第一个参数必定是Env类型，用于和D1Database交互。


